<a href="https://colab.research.google.com/github/bidhan7/Machine-learning/blob/main/String%20Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First, I will import the libraries that will be necessary to run code further.
I will use request.get to read the data from the url. Using soup to find the table of world's highest peaks and arranged using droplevel.

In [ ]:
import requests
import pandas as pa
from bs4 import BeautifulSoup


r = requests.get('https://en.wikipedia.org/wiki/List_of_highest_mountains_on_Earth') 
html_contents = r.text
html_soup = BeautifulSoup(html_contents,"lxml")
tables = html_soup.find_all('table',class_="wikitable")

df1 = pa.read_html(str(tables))[0]
df1.columns = df1.columns.droplevel(0).droplevel(0)
df1.head()

  Rank[dp 1]  ... Country (disputed claims in italics)
0          1  ...                           NepalChina
1          2  ...              Pakistan[dp 8]China[12]
2          3  ...                           NepalIndia
3          4  ...                           NepalChina
4          5  ...                           NepalChina

[5 rows x 13 columns]

In [ ]:
df1.columns #listing all the columns

Index(['Rank[dp 1]', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates[dp 4]', 'Parent mountain[dp 5]', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

Regular Expression package is a order of characters that forms a search pattern. I will import RegEx.

In [ ]:
import re

In [ ]:
col = df1.columns.map(lambda s: re.sub(r"\[(.+)\]","",s))
col

Index(['Rank', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates', 'Parent mountain', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

Removing characters including spaces and allowing repititions of the pattern.

In [ ]:
new= col.map(lambda s : re.sub(r"\((.+)\)","",s))
new

Index(['Rank', 'Mountain name', 'm', 'ft', 'm', 'ft', 'Range', 'Coordinates',
       'Parent mountain', '1st', 'y', 'n', 'Country '],
      dtype='object')

Removing space from the columns name.

In [ ]:
new1=new.map(lambda s : re.sub(r" ","",s))
new1

Index(['Rank', 'Mountainname', 'm', 'ft', 'm', 'ft', 'Range', 'Coordinates',
       'Parentmountain', '1st', 'y', 'n', 'Country'],
      dtype='object')

Capitalizing initial letter of columns name.

In [ ]:
new1.map(lambda s : s.capitalize())

Index(['Rank', 'Mountainname', 'M', 'Ft', 'M', 'Ft', 'Range', 'Coordinates',
       'Parentmountain', '1st', 'Y', 'N', 'Country'],
      dtype='object')

Examine the last column.  Describe a way in which you might be able to clean it up to make sense of it and allow for later analysis.

In [ ]:
df1.iloc[:,-1]

0                            NepalChina
1               Pakistan[dp 8]China[12]
2                            NepalIndia
3                            NepalChina
4                            NepalChina
                     ...
115                               China
116                          NepalChina
117                  BhutanChina[dp 18]
118    IndiaChina[dp 10][dp 11]'[dp 12]
119                      Pakistan[dp 8]
Name: Country (disputed claims in italics), Length: 120, dtype: object

I think using RegEx we can remove weird characters, spaces and numbers. And using array counting and keeping slash in between the countries will pretty much clean data. It really sounds complicated.